.register-container {
  width: 350px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.register-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.register-container button {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #cc3366;
  color: white;
  cursor: pointer;
}

.register-container input,
.register-container button {
    margin-bottom: 15px;
}
